body {
    margin: 50px;
}
header {
    background-color: #f2ceae;
    padding: 10px;
}
h1 {
    font: xx-large Helvetica;
    color: #038C32;
}
img {
    max-width: 33%;
    padding: 1em;
}
.main {
    float: left;
    padding: 5px;
    max-width: 25%;
}
.options {
    float: left;
    width: 33%;
    padding: 5px;
}
h2 {
    font: x-large Helvetica;
    color: #008f94;
    word-wrap: normal;
}
h3 {
    font: large Helvetica;
    color: #f2d06d;
}
.container {
    column-count: 3;
    column-gap: 1em;
}