body {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 10px;
}
h1 {
    font: xx-large bold;
    color: #038C32;
}
.main {
    float: left;
    padding: 10px;
    padding-top: 25px;
    max-width: 50%;
}
.options {
    float: left;
    width: 33%;
    margin: auto;
}
h2 {
    font: x-large bold;
    color: #038C32;
}
h3 {
    font: large;
    color: #038C32;
}
.container {
    column-count: 3;
}
.image.button {
    width: 100%;
}
.topnav {
    background-color: #f2d06d;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
/*.topnav a {
    display: inline-block;
    font-size: 20px;
    padding: 15px;
} */
.topnav a {
    display: inline-block;
    font-size: 20px;
    color: black;
    padding: 15px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #038C32;
    color: rgb(255, 255, 255);
}
.column {
    float: left;
}
.column.lead {
    width: 66%;
}
.column.right {
    float: right;
    width: 33%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.active {
    background-color: #038C32;
}
footer {
    background-color: #f2d06d;
    padding: 10px;
}
